.button {
    background-color: $Dark-cyan;
    border: none;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 100%;
    border-radius: 100px;
    font-family: 'Open Sans', sans-serif;
    color: $White-text;
    font-size: 32px;
    margin: 30px 0;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    outline: none;
}

.button:hover {
    background-color: $Light-cyan;
    color: $Light-text;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
}