.container {
    display: grid;
    grid-template-columns: 33% 34% 33%;
    grid-template-rows: 50px auto auto;
}

.logo {
    grid-row-start: 2;
    grid-column-start: 2;
}

.main {
    grid-row-start: 3;
    grid-column-start: 2;
}

.game1 {
    grid-row-start: 3;
    grid-column-start: 1;
}

.game2 {
    grid-row-start: 3;
    grid-column-start: 2;
}

.game3 {
    grid-row-start: 3;
    grid-column-start: 3;
}