h1,
h2,
h3,
h4,
h5,
h6 {
    color: $Dark-text;
    font-family: 'Overpass', sans-serif;
    text-align: center;
}

h1 {
    font-size: 6em;
}

h2 {
    font-size: 5em;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

h3 {
    font-size: 4em;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

h4 {
    font-size: 3em;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

h5 {
    font-size: 2em;
    margin-block-start: 0.2em;
    margin-block-end: 0.2em;
}

h6 {
    font-size: 1em;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

p {
    color: $Dark-text;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
}